# Variables de entorno
.env
SIGEHUBack/config.json
SIGEHUFront/src/environments/environment.ts
SIGEHUFront/src/environments/environment.prod.ts

#Builds
dist/
Electron/dist/
Release/

#Installations
*.msi
*.exe