<div class="cl">
  <div class="cl__header">
    <h4 class="cl__title">Contactos ({{ contacts.length }})</h4>
    <app-button variant="ghost" (buttonClick)="showForm = !showForm">
      <ion-icon name="add"></ion-icon> {{ showForm ? 'Cancelar' : 'Agregar' }}
    </app-button>
  </div>

  <app-contact-form *ngIf="showForm" (saved)="onSaved($event)" (cancelled)="showForm = false"></app-contact-form>

  <div class="cl__list" *ngIf="contacts.length > 0; else empty">
    <div class="cl__item" *ngFor="let c of contacts; let i = index">
      <div class="cl__info">
        <strong>{{ c.nombreCompleto }}</strong>
        <span *ngIf="c.telefono">{{ c.telefono }}</span>
        <span *ngIf="c.correo">{{ c.correo }}</span>
      </div>
      <button class="cl__remove" (click)="contactRemoved.emit(i)" title="Eliminar contacto">
        <ion-icon name="trash-outline"></ion-icon>
      </button>
    </div>
  </div>

  <ng-template #empty>
    <p class="cl__empty">No hay contactos registrados</p>
  </ng-template>
</div>